.authenticate-page-container {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// Redux Component
.profile-container {
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 14px;
  transition: opacity 0.3s ease-in;
  cursor: pointer;

  &:hover {
    opacity: 80%;
  }
}

.authentication-form-container {
  width: 450px;

  & a {
    color: $black-md;
  }
}

.authenticate-input-container {
  & > input {
    flex: 1;
    border: 1px solid $grey-md-80;
    border-radius: $semicirc-border;
    padding: 8px 7px;
  }

  & > button[type="submit"] {
    padding: 10px;
    border-radius: $semicirc-border;
    border: none;
    background-color: $theme-orange;
    color: $white-md;
  }
  
}

.error-message-container {
  color: $theme-orange;
}
