.authenticate-page-container {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// Redux Component
.profile-container {
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  margin-top: 50px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  & button {
    float: none;
    padding: 10px 10px;
    border-radius: $semicirc-border;
    border: 1px solid $grey-md-80;
    background-color: $white-md;
    color: $black-md;
    font-weight: bold;

    &:hover {
      opacity: 1;
    }
  }
}

.authentication-form-container {
  width: 450px;

  & a {
    color: $black-md;
  }
}
