@font-face {
  font-family: "Poppins", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: $base-color;
  color: $light-color;
  align-items: center;
  justify-content: space-around;

  & > h3 {
    display: flex;
    width: 25vw;
    justify-content: center;
    font-size: x-large;
    font-weight: bolder;
  }

  @media (orientation: portrait) {
    & {
      padding: 0.7rem;
    }
  }
}

body {
  font: 12pt "Poppins", sans-serif;
  background-color: $light-color;
}

a {
  text-decoration: none;
  color: $light-color;
}

main {
  flex-flow: column;
}

img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  display: block;
}

.hero-container {
  position: relative;

  & > p {
    z-index: 1;
    color: $light-color;
    font-weight: bolder;
    font-size: calc(1.5rem + 3vw);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.hero-img-container {
  & > img {
    filter: brightness(0.4);
    height: 70vh;
  }
}

@media (orientation: portrait) {
  .hero-container {
    display: none;
  }
}
