.container {
  display: flex;
  justify-content: space-around;
  color: $black-md;

  &.column {
    flex-direction: column;
  }
}

.padded-md {
  padding: 20px;
}

.center-content {
  justify-content: center;
  align-items: center;
}

.gap-sm {
  gap: 1.5rem;
}

.gap-md {
  gap: 2rem;
}

.xxsm {
  width: 20px;
  height: 25px;
}

.xsm {
  width: 50px;
  height: 50px;
}

.sm {
  width: 100px;
  height: 100px;
}

.md {
  width: 200px;
  height: 200px;
}

.justify {
  justify-content: center;
}

.align {
  align-items: center;
}

.flex {
  flex: 1;
}

.cursor-pointer {
  cursor: pointer;
}
