.container {
  display: flex;
  padding: 5% 10%;
}

.hide {
  display: none;
}

.links-container {
  background-color: $base-color;
}

.dropdown {
  color: $light-color;
  display: inline-block;
  position: relative;

  &:hover {
    & .dropdown-options {
      display: block;
    }
  }
}

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;

  & button {
    border: none;
    font-size: calc(0.9rem + 0.1vw);
    padding: 15px 30px;
  }
}
