.container {
  display: flex;

  &.column {
    flex-direction: column;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.search-bar-container > form {
  display: flex;
  align-items: center;

  & > * {
    padding: 0.5rem;
  }

  & > input {
    width: calc(30vw + 2rem);
    border: none;
    border-radius: 10px 0 0 10px;
    width: 40vw;
  }

  & > button {
    display: flex;
    align-items: center;
    background-color: $highlight-color;
    border: none;
    border-radius: 0 10px 10px 0;
    height: 35px;
    cursor: pointer;
  }
}

.links-container {
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  .nav-bar {
    display: none;
  }
  
  & > ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;

    & > li {
      cursor: pointer;
      flex: 1;
      // font-size: calc(0.5rem + 0.5vw);
      inline-size: min-content;
    }
  }
}

.copyright-description-container {
  display: flex;
  align-items: center;
  gap: 10px;

  & > nav > li {
    display: flex;
    align-items: center;
  }
}

.copyrights-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown {
  display: inline-block;
}

.dropdown-pane {
  position: absolute;
  border-top: 1px solid $light-base-color;
  border-bottom: 1px solid $light-base-color;
  cursor: auto;
  flex-flow: row wrap;
  z-index: 10;
  left: 0;
  top: 10%;
  width: 100vw;

  transform: translateY(-0.45rem);
  visibility: hidden;

  animation: slideDown 300ms ease-in-out forwards;
  transform-origin: top center;
  background-color: $base-color;

  &.container {
    visibility: visible;
  }

  &.hide {
    animation: slideUp 300ms ease-in-out forwards;
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(1);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.pane {
  display: flex;
  padding: 35px;
  flex: 1;
}

.left-pane {
  justify-content: flex-start;

  & > h3 {
    font-size: calc(1.5rem + 0.5vw);
  }
}

.right-pane {
  & > ul {
    flex: 2;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;

    & > li {
      flex: 1;
      padding: 8px;
      width: fit-content;
      transition: 0.4s;
      background: linear-gradient($highlight-color, $highlight-color);
      background-repeat: no-repeat;
      background-size: 0 100%;
    }

    & > li:hover {
      background-size: 100% 100%;
      a {
        color: $base-color;
      }
    }
  }
}

.dropdown-options {
  position: absolute;
  overflow: auto;
  z-index: 10;
  background-color: $base-color;
  border-radius: 5px;

  & > button {
    background-color: transparent;
    color: $light-color;
    border: none;
    font-size: calc(0.9rem + 0.1vw);
    width: 100%;
    padding: 2vh 3vw;

    &:hover {
      color: $base-color;
      background-color: $light-grey-color;
    }
  }
}

.form-input-container {
  display: flex;
  flex-direction: column;

  & > textarea {
    resize: none;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.button-container > button {
  border: none;
  border-radius: 6px;
  font-weight: bolder;
  font-size: 1em;
  background-color: $base-color;
  color: $light-color;
  padding: 8px;
}

@media (orientation: portrait) {
  .dropdown-pane {
    display: none;
  }

  .form-input-container {
    width: 70vw;
  }

  .links-container {
    & > ul {
      display: none;
    }

    .nav-bar {
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
    }
  }
}

.ratings-container {
  display: flex;
}

.rating-0 {
  filter: grayscale(100%);
}

.star-ratings-container {
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

@media (orientation: portrait) {
  .star-ratings-container {
    width: 9vw;
    height: 20px;
  }
}
