.container {
  display: flex;
  justify-content: space-around;
  color: $black-md;

  &.column {
    flex-direction: column;
  }
}

.width-75 {
  width: 75%;
}

.text-center {
  text-align: center;
}

.brand-yellow {
  color: $theme-yellow;
}

.brand-orange {
  color: $theme-orange;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.section {
  display: flex;
  color: $black-md;
  justify-content: flex-start;
  padding: 20px;
  border-radius: $semicirc-border;
  background-color: $white-md;
  width: 80vw;
}

.padded-sm {
  padding: 10px;
}

.padded-md {
  padding: 20px;
}

.center-content {
  justify-content: center;
  align-items: center;
}

.gap-half {
  gap: 0.5rem;
}

.gap-sm {
  gap: 1.5rem;
}

.gap-md {
  gap: 2rem;
}

.xxsm {
  width: 20px;
  height: 25px;
}

.xsm {
  width: 50px;
  height: 50px;
}

.sm {
  width: 100px;
  height: 100px;
}

.md {
  width: 200px;
  height: 200px;
}

.reset-justify {
  justify-content: unset;
}

.justify {
  justify-content: center;
}

.align {
  align-items: center;
}

.flex {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.opacity-65 {
  opacity: 65%;
}

.opacity-20 {
  opacity: 20%;
}

.mb-sm {
  margin-bottom: 10px;
}

.mb {
  margin-bottom: 20px;
}

.mt-sm {
  margin-top: 15px;
}

.mt {
  margin-top: 20px;
}

.mt-lg {
  margin-top: 50px;
}

.cursor-pointer {
  cursor: pointer;
}
