// Colors
$black-md: #2A2B2A;
$black-md-20: #2a2b2a42;

$grey-sm: #f0f0f0;
$grey-md: #4f504f;
$grey-md-80: #4f504f56;

$white-md: #fbfffe;

// Theme
$theme-yellow: #F9C80E;
$theme-orange: #F86624;
$theme-pink: #EA3546;

$theme-orange-white: #f8a88369;

$theme-yellow-80: #f9c60e69;
$theme-orange-80: #F8662469;
$theme-pink-80: #EA354669;

// Border Radius
$semicirc-border: 5px;
$circular-border: 20px;