// Colors
$black-md: #2A2B2A;
$black-md-20: #2a2b2a42;

$grey-sm: #f0f0f0;
$grey-md: #4f504f;

$white-md: #fbfffe;

// Theme
$theme-yellow: #F9C80E;
$theme-orange: #F86624;
$theme-pink: #EA3546;

// Border Radius
$semicirc-border: 5px;
$circular-border: 20px;