.banner-container {
  display: block;
  position: relative;
  z-index: 0;
  background-image: url("https://images.unsplash.com/photo-1513672494107-cd9d848a383e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=869&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0;
  
  & .banner-button {
    margin-top: 33px;
  }

  & .banner-button > button {
    border: none;
    background-color: $theme-yellow;
    color: $black-md;
    font-weight: bold;
    border-radius: $circular-border;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
  }
}

.banner-content {
  & p, & h1 {
    color: $white-md;
  }
  
  backdrop-filter: brightness(35%);
  padding: 80px 40px;
  color: $white-md;
  font-weight: bold;
  word-wrap: break-word;
}

.banner-header {
  font-size: 44px;
}

.banner-paragraph {
  max-width: 700px;
  font-size: 20px;
  font-weight: normal;
}

.category-section {
  color: $black-md;
}