$radius-size: 0.2rem;

.item-card {
  flex: 1;
  box-shadow: 0 4px 6px 0 $light-base-color;
  width: 10vw;
  border-radius: $radius-size;

  & > * {
    flex: 1;
  }

  &.horizontal {
    width: 40vw;
    flex-direction: row;
  }

  & > .image-container {
    img {
      border-radius: $radius-size;
      height: 240px;
    }
  }
}

.item-info {
  border-radius: $radius-size;
  flex-direction: column;
  padding: 20px;

  & > p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: calc(0.5rem + 0.5vw);
  }
}

.product-name-container {
  color: $grey-color;
}

.product-price-container {
  font-weight: bold;
  color: $base-color;
}

@media (orientation: portrait) {
  .item-card {
    width: 40vw;

    img {
      height: 192px;
    }

    &.horizontal {
      width: 90vw;
    }
  }

  .item-info {
    gap: 0.5rem;
    padding: 10px;
  }
}
