.item-display-section {
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.item-category-header {
  color: $base-color;
}

.item-lists-container {
  padding: 1vh 1vw;
  display: flex;
  gap: 1.5rem;
}

.item-category-container {
  flex-direction: column;
  padding: 2rem;
  gap: 3rem;
}

.item-category-list {
  gap: 1.5rem;
  justify-content: center;
}

@media (orientation: portrait) {
  .item-lists-container {
    flex-flow: wrap;
  }
}
