.item-card {
  display: flex;

  box-shadow: 0 0 0.5rem 0.001rem #57585a;
  border-radius: 10px;
  width: 35vw;
  flex-flow: column;

  .image-container {
    // background-color: red;
    display: inherit;
    align-items: center;
    justify-content: center;
    flex: 2;
  }

  .item-info {
    // background-color: yellow;
    display: inherit;
    flex-flow: column;
    justify-content: center;
  }
}
