.item-description-container {
  gap: 2rem;
  align-items: center;
}

.item-main-description {
  width: 50vw;
}

.image-display {
  width: 40vw;

  & > img {
    height: 400px;
  }
}

.image-carousel {
  gap: 2rem;
  width: 40vw;
  align-items: center;

  background-color: #c2c5cc;
  padding: 1rem;
  border-radius: 5px;

  & > .image-container {
    width: 20vw;
    position: relative;
    overflow: scroll;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.1rem;

    &:hover {
      border: 1px solid $base-color;
      padding: 0;
    }

    & > img {
      height: 100px;
    }
  }
}

.top-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.left-panel {
  align-items: center;
  gap: 1.5rem;
  padding: 20px;
}

.right-panel {
  padding: 1rem;
  gap: 2rem;
  align-items: center;
}

.shopping-button {
  display: block;
  width: 250px;
  margin: 0;
  padding: 0.5rem;
  box-sizing: border-box;
  font-weight: bolder;
  font-size: 100%;
  border-radius: 8px;
  border: none;
}

.add-cart-button {
  background-color: $highlight-color;
  color: $base-color;
}

.add-wishlist-button {
  background-color: $base-color;
  color: $light-color;
}

@media (orientation: portrait) {
  .top-container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .image-display,
  .image-carousel,
  .item-main-description {
    width: 90vw;
  }

  .image-carousel {
    & > .image-container {
      width: 90vw;
      img {
        height: 50px;
      }
    }
  }
}
