$radius-size: 0.2rem;

.item-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-shadow: 5px 5px 7px #57585a;
  width: 10vw;
  border-radius: $radius-size;

  .image-container {
    position: relative;
    border-bottom: 1px solid $light-base-color;

    img {
      border-radius: $radius-size;
      height: 240px;
    }
  }
}

.item-info {
  background: linear-gradient($light-color 85%, $light-grey-color);
  border-radius: $radius-size;
  color: $base-color;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 12pt;

  & > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.product-name-container {
  font-weight: 500;
}

.product-price-container {
  font-weight: bolder;
}

@media (orientation: portrait) {
  .item-card {
    width: 40vw;

    img {
      height: 192px;
    }
  }
}
