.main-header {
  background-color: $base-color;
  color: $light-color;
  align-items: center;
  justify-content: space-around;
  padding: 15px 20px;
  gap: 0.5rem;

  & > h3 {
    display: flex;
    justify-content: center;
    font-weight: bolder;
  }
}

.search-bar-container > form {
  display: flex;
  align-items: center;

  & > * {
    padding: 0.5rem;
  }

  & > input {
    width: calc(30vw + 2rem);
    border: none;
    border-radius: 10px 0 0 10px;
    width: 40vw;
  }

  & > button {
    display: flex;
    align-items: center;
    background-color: $highlight-color;
    border: none;
    border-radius: 0 10px 10px 0;
    height: 35px;
    cursor: pointer;
  }
}

.main-footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: $base-color;
  color: $light-color;
}

.copyright-description-container {
  display: flex;
  align-items: center;
  gap: 10px;

  & > nav > li {
    display: flex;
    align-items: center;
  }
}

.copyrights-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
