.links-container {
  justify-content: center;
  align-items: center;

  .nav-bar {
    display: none;
  }

  & > ul {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  & > ul > li {
    cursor: pointer;
    flex: 1;
  }

  & > ul > li > a {
    display: flex;
    align-items: center;
  }
}

.pane {
  display: flex;
  padding: 35px;
  flex: 1;
}

.left-pane {
  justify-content: flex-start;

  & > h3 {
    font-size: calc(1.5rem + 0.5vw);
  }
}

.right-pane {
  & > ul {
    flex: 2;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;

    & > li {
      flex: 1;
      padding: 8px;
      width: fit-content;
      transition: 0.4s;
      background: linear-gradient($highlight-color, $highlight-color);
      background-repeat: no-repeat;
      background-size: 0 100%;
    }

    & > li:hover {
      background-size: 100% 100%;
      a {
        color: $base-color;
      }
    }
  }
}

@media (orientation: portrait) {
  .links-container {
    & > ul {
      display: none;
    }

    .nav-bar {
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
    }
  }
}
