.navbar {
  & li,
  & a {
    font-weight: bold;
    color: $black-md;
    transition: opacity ease-in 0.2s;
  }

  & li a,
  & li > button {
    padding: 20px;
  }
}

.search-bar-container {
  height: 40px;

  & > input {
    width: 25vw;
    padding: 10px 20px;
    border-top: 1px solid $black-md-20;
    border-left: 1px solid $black-md-20;
    border-bottom: 1px solid $black-md-20;
    border-right: none;
    border-radius: $circular-border 0 0 $circular-border;

    &:focus-visible {
      outline: none;
    }
  }

  & > button {
    padding: 0 10px;
    background: transparent;
    border-left: none;
    border-right: 1px solid $black-md-20;
    border-top: 1px solid $black-md-20;
    border-bottom: 1px solid $black-md-20;
    border-radius: 0 $circular-border $circular-border 0;
  }
}

.mega-menu {
  float: left;
  overflow: hidden;

  & button {
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 16px;
  }
}

.mega-menu-header {
  padding: 20px 10px;
  background-color: $theme-yellow;
  color: $black-md;
}

.mega-menu-content {
  margin-top: 20px;
  background-color: $white-md;
  position: absolute;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.category-header {
  padding-left: 20px;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sidenav {
  height: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $white-md;
  overflow-x: hidden;
  transition: 0.5s;

  & span {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }
}

.sidenav-links-container {
  & a {
    color: $black-md;
  }
}

.sidenav-dropdown-content {
  & button {
    cursor: pointer;
    color: $grey-md;
    padding-left: 20px;
    text-align: start;
    flex: 1;
    background-color: transparent;
    border: none;
    font-size: 16px;
  }
}

.drawer-container {
  display: none;
}

@media screen and (max-width: 900px) {

  .logo-link {
    h2 {
      display: none;
    }
  }

  .header {
    justify-content: space-between;
  }

  .navbar {
    display: none;
  }

  .drawer-container {
    display: flex;
  }

  .search-bar-container {
    padding: 0 40px;
    width: 100%;

    & > input { 
      flex: 1;
    }
  }
}
