.navbar {
  & li,
  & a {
    font-weight: bold;
    color: $black-md;
    transition: opacity ease-in 0.2s;
  }

  & li:hover,
  & a:hover {
    opacity: 70%;
  }

  & > ul > li a {
    padding: 20px;
  }
}

.search-bar-container {
  height: 40px;

  & > input {
    width: 25vw;
    padding: 10px 20px;
    border-top: 1px solid $black-md-20;
    border-left: 1px solid $black-md-20;
    border-bottom: 1px solid $black-md-20;
    border-right: none;
    border-radius: $circular-border 0 0 $circular-border;

    &:focus-visible {
      outline: none;
    }
  }

  & > button {
    padding: 0 10px;
    background: transparent;
    border-left: none;
    border-right: 1px solid $black-md-20;
    border-top: 1px solid $black-md-20;
    border-bottom: 1px solid $black-md-20;
    border-radius: 0 $circular-border $circular-border 0;
  }
}

.drawer-container {
  display: none
}

@media screen and (max-width: 900px) {
  .header {
    justify-content: space-between;
  }
  
  .navbar,
  .search-bar-container {
    display: none;
  }

  .drawer-container {
    display: flex;
  }
}
