.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    & > button {
        background-color: transparent;
        color: $light-color;
        border: none;
        font-weight: bolder;
        font-size: calc(0.5rem + 0.5vw);
    }
}