.register-page-container {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.register-form-container {
  width: 450px;

  & a {
    color: $black-md;
  }
}