.review-card {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: $base-color;
  padding: 20px;
  border-radius: 5px;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: $light-color;
}

.review-description {
  background-color: $light-color;
  padding: 20px;
  border-radius: 5px;
}

@media (orientation: portrait) {
  .review-card {
    width: 90vw;
  }
}
