.star-rating {
  & button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &.on {
      color: $theme-yellow;
    }

    &.off {
      color: $theme-yellow-80;

      &.no-hover {
        cursor: default;
      }
    }
  }
}

.star {
  font-size: 18px;
}
