.star-rating {
  & button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &.on {
      color: rgb(255, 187, 0);
    }

    &.off {
      color: rgba(255, 187, 0, 0.432);

      &.no-hover {
        cursor: default;
      }
    }
  }
}

.star {
  font-size: 18px;
}
