@import "default-colors";
@import "_item-cards";

@font-face {
  font-family: "Roboto Mono", monospace;
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
}

body {
  font: 12pt "Roboto Mono", monospace;
  background-color: $light-color;
  color: $base-color;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $base-color;
}
